/* =========================
   Palette SNT / NSI
   ========================= */

/* Cartes de l'accueil */
.md-typeset .grid.cards > ul > li {
    border-radius: 13px;
    border: 1px solid #dbe4f0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.md-typeset .grid.cards > ul > li:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(15, 42, 77, 0.12);
}


/* Barre supérieure */
.md-header {
    background: #0f2a4d;
}


/* Titres */
.md-typeset h1 {
    color: #4f78ad;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.md-typeset h2 {
    color: #1e7fcf;
    font-size: 1.35rem;
    font-weight: 600;
}

.md-typeset h3 {
    font-size: 1.15rem;
}

@media print {

    .md-typeset h1 {
        font-size: 1.6rem;
    }

    .md-typeset h2 {
        font-size: 1.1rem;
    }

    .md-typeset h3 {
        font-size: 0.8rem;
    }

}


/* Boutons */
.md-button {
    border-radius: 10px;
    background-color: #1769aa;
}

.md-button:hover {
    background-color: #0f2a4d;
}

/* Boutons de téléchargement */
.md-typeset .md-button {
    background-color: #54607f;
    border-color: #54607f;
    color: white;
    border-radius: 8px;
    font-size: 0.9rem;
}

.md-typeset .md-button:hover {
    background-color: #3f4963;
    border-color: #3f4963;
}


/* Grille personnalisée */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 1rem;
}


/* Anciennes cartes HTML */
.card {
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #dbe4f0;
    
}


/* Couleur de la barre latérale */
.md-sidebar {
    background-color: transparent;
}

/* Texte du menu */
.md-nav__link {
    color: inherit;
}

/* Élément actif */
.md-nav__link--active {
    color: #4f9ee8;
    font-weight: 600;
}

/* Survol */
.md-nav__link:hover {
    color: #1e7fcf;
}